body {
    overflow: auto;
    margin: 0 0 0 0;
}
.wrap {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    overflow: auto;
    margin: 0 0 0 0;
    font-size: 11px;
    background: url(image/Background.png) no-repeat;
    background-size: cover;
}

.maket {
    height: 82.0444444444%;
    width: 83.660130719%;
    box-shadow: 0 6px 26px 14px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    overflow: hidden;
    font-weight: normal;
    margin: 8.16993464052%;
    background: #f6f7fb;
}

.header {
    background: #ffffff;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    font-size: 1em;
    font-family: "Open Sans";
    line-height: 4.46153846154em;


}
.bizapp {
    float: left;
    box-sizing: border-box;
    display: inline;

}

.bbb {
    font-weight: 100;
    color: #333333;
    font-size: 1.53846153846em;
    vertical-align: middle;

}
.bizi {
    font-weight: 700;
    color: #333333;
}
.b {
    padding-right: 4.188776%;

}
.main {
    padding: 0;
    font-weight: 700;
    border-bottom: 2px #5a4dc6 solid;
    box-sizing: border-box;
    display: inline;
}
.m {
    color: #5a4dc6;
}
.ma {
    padding-right: 8.585938%;
}

.jon {
    padding: 0 1% 0 3%;
    display: inline;
    font-weight: 400;
    font-size: 1em;

}
.sue {
    padding: 0 1% 0 3%;
}
.me {
    font-weight: 400;
    font-size: 1em;
}

.x {
    width: 1.23076923em;
    height: 1.23076923em;
}

.plu {
    box-sizing: border-box;
    display: inline;
    padding: 0 1.85546875% 0 3%;

}
.threepoint {
    width: 2.30em;
    height: 2.30em;
}
.frazer {
    padding: 0 3.22265625% 0 0;
    display: inline;
}

.st {
    display: inline;
}

.left {
    background: #f6f7fb;
    width: 19.53125%;
    height: 93.49945828819068%;
    float: left;
    padding: 0;
    color: #333333;
    box-sizing: border-box;
    letter-spacing: normal;
    border-top: 1px solid #ccd0d9;

}

.lefttop {

    border-bottom: 1px solid #ccd0d9;
    padding: 10% 10%;
    font-size: 1em;
}

.ap  {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.apps, .company {
    float: left;
    font-size: 1.38461538462em;
    /*width: 50%;*/
}

.apps {
    font-family: "Open Sans Condensed";
}
.plus {
    float: right;
    text-align: right;
    height: 2.3076923076923077em;
    width: 2.3076923076923077em;

}

.pl {
    border-radius: 3px;
    border: solid 1px #ccd0d9;
    background-color: #ffffff;
    font-size: inherit;
}
.buttonplus {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.ul {
    padding: 13% 0 0 0;
}

.leftbottom {
    padding: 11% 10%;
    margin-left: -0.5%;

}

.contact {
    display: block;
    margin: 0;
    padding: 0 0 1%;
    font-family: "Open Sans Condensed";
    font-size: 1.38461538462em;
}
.j {
    height: 2.3076923em;
    width: 2.3076923em;
}
.jos {
    color: #656d78;
    top: 0.15384615384em;
    position: relative;
}

.article {
    background-color: #ffffff;
    width: 60.939%;
    height: 93.49945828819068%;
    float: left;
    border: 1px solid #ccd0d9;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";

}
.first {
    border-bottom: 1px solid #ccd0d9;
    margin: 0 3.04487179487%;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.first_right {
    font-weight: 400;
    font-size: 0.8461538461538em;
    color: #ccd0d9;
    float: right;
    padding: 4.45969125214% 0;
    margin: 0;
    width: 50%;
    text-align: right;
}
.first_left {
    font-size: 1em;
    font-weight: 400;
    color: #656d78;
    float: left;
    padding: 3.2590051458% 0;
    margin: 0;
    width: 50%;
}
.jomi {
    padding-right: 1.71526586621%;
}
.span {
    padding-top: 0.9%;
}

.second {
    padding-bottom: 2.75%;
    margin: 0 3.04487179487%;
    border-bottom: 1px solid #ccd0d9;
    font-size: 1em;
}
.second_top {
    /*font-size: 1em;*/
    font-style: italic;
    color: #aab2bd;
    padding: 2.74442538593% 0 2.06%;
    margin: 0;
}

.second_bottom {
    /*font-size: 1em;*/
    font-weight: 400;
    color: #5a4dc6;
    word-spacing: 0.15384615384em;
    margin: 0;
}

.spanik {
    color: #aab2bd;
    padding: 3.2590051458% 0;
}

.point {
    font-weight: 100;
    font-size: 0.76923076923em;
    color: #5a4dc6;
}

.like {
    /*border: none;*/
    /*!*font-size: 1em;*!*/
    /*font-weight: 400;*/
    /*color: #5a4dc6;*/
    /*padding: 0;*/
    word-spacing: 0.07692307692em;
    /*background-color: #ffffff;*/
    letter-spacing: -0.03846153846em;
    margin-left: -0.17152658662%;
}
.reply {
    /*border: none;*/
    /*!*font-size: 1em;*!*/
    /*font-weight: 400;*/
    /*color: #5a4dc6;*/
    /*padding: 0;*/
    word-spacing: 0.15384615384em;
    /*background-color: #ffffff;*/
}
.other {
    border: none;
    font-weight: 400;
    color: #5a4dc6;
    padding: 0;
    background-color: #ffffff;
    font-size: 1em;
}
.third {
    height: 8.22711471611%;
    border-bottom: 1px solid #ccd0d9;
    margin: 0 3.04487179487%;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.third_left {

    font-size: 1em;
    font-weight: 400;
    color: #656d78;
    float: left;
    padding: 3.43053173242% 0;
    margin: 0;
    line-height: 5.48885077187%;
    width: 50%;
}
.third_left2 {

    font-size: 1em;
    font-weight: 400;
    color: #656d78;
    float: left;
    padding: 3.60205831904% 0;
    margin: 0;
    width: 50%;
}
.fourth {
    margin: 0;
    padding: 2.4163149586% 3.04487179487% 2.25522729469%;
}
.bigbigimage {
    padding: 0;
}

.post {
    background: #f6f7fb;
    padding: 3.06066561423% 3.04487179487%;
    border-bottom: 1px solid #ccd0d9;
    border-top: 1px solid #ccd0d9;
}

.textarea {
    padding: 3.06066561423% 3.2154340836% 3.22175327813% 3.06066561423%;
    border: solid 1px #ccd0d9;
    border-radius: 3px;
    margin: 0;
    background-color: #ffffff;
}
.textplus {
    float: left;
    width: 2.3076em;
    height: 2.3076em;
}
.textpost {
    float: right;
    text-align: right;
    height: 2.15384615385em;
    width: 14.678899%;
}

textarea {
    border: none;
    resize: none;
    font-size: 1em;
    font-weight: 400;
    color: #aab2bd;
    height: 1.76923076923em;
    position: relative;
    bottom: 0.23076923076em;
    margin-left: -0.34305317324%;
    width: 100%;
}
.po {
    background-color: #5a4dc6;
    border-radius: 4px;
    float: right;
    color: #fff;
    border: none;
    font-weight: 700;
    height: 100%;
    width: 100%;
}

.right {
    background: #f6f7fb;
    width: 19.53125%;
    height: 93.49945828819068%;
    float: right;
    border-top: 1px solid #ccd0d9;
    box-sizing: border-box;
}

.righttop {
    border-bottom: 1px solid #ccd0d9;
    padding: 10% 10% 0;
}
.righttop img {
    width: 100%;
}
.company {
    float: left;
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: 700;
    padding: 2.5% 0;
    white-space: nowrap;
}
.com {
    margin: 0;
    padding: 7% 0 5.5% 0;
    position: relative;
    overflow: hidden;
}


.set {
    /*position: relative;*/
    /*right: 0.1em;*/
    /*bottom: -0.9090909090909091em;*/
    border-radius: 3px;
    border: solid 1px #ccd0d9;
    background-image: url("image/20settingavatar.png");
    float: right;
}
.rightbottom {

    padding: 10% 10% 0;
}
img {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}
ul img {
    padding-right: 0.2em;
}
ul {
    list-style-type: none;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1em;
    color: #656d78;
    padding: 0;
    margin: 0;
}

li {
    padding-bottom: 5%;
}

span {
    margin: 0;
    padding: 0;
}
.jonas {
    padding-right: 2.05479452055%;
    vertical-align: middle;
}
.ii{
    position: relative;
    margin-left: -2.5%;
    top: 0.07692307692em;
    color: #656d78;
}
.bupl {
    /* position: relative; */
    /* left: -3px; */
    width: 40%;
}

@media screen and (max-width: 609px) {
    .wrap {
        width: 100%;
        margin: 0 auto;
        font-size: 11px;
    }

    .header {
        display: flex;
        align-items: baseline;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: stretch;
        height: auto;
        line-height: 4em;
        padding: 0 1em;
    }
    .headfl {
        flex-basis: 10em;
        white-space: nowrap;
    }
    .left, .right {
        width: 50%;

    }
    .article {
        width: 100%;
    }
    .bizapp, .main, .jon, .sue, .plu, .frazer, .st {
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .com {
        padding: 1em 0 0;
    }
    .lefttop , .leftbottom , .righttop , .rightbottom {
        padding: 1em;
        height: 23em;
    }
    .left {
        border-right: 1px solid #ccd0d9;
        box-sizing: border-box;
    }
    /*.article img {*/
    /*max-width: 100%;*/
    /*}*/
    /*.righttop img {*/
    /*max-width: 100%;*/
    /*}*/
    .ul {
        padding: 1em 0 0 0;
    }
    li {
        padding-bottom: 1em;
    }
    ul img {
        padding-right: 0.2em;
    }
}

@media screen and (min-width: 610px) and (max-width: 1223px){
    .wrap {
        width: 100%;
        margin: 0 auto;
        font-size: 9px;
    }

    .header {
        display: flex;
        align-items: baseline;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: stretch;
        height: auto;
        line-height: 4em;
        padding: 0 1em;
    }

    .headfl {
        flex-basis: 10em;
        white-space: nowrap;
    }
    .bizapp, .main, .jon, .sue, .frazer {
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .flexmin {
        flex-basis: 3em;
    }
    /*.article img {*/
    /*max-width: 100%;*/
    /*}*/
    /*.righttop img {*/
    /*max-width: 100%;*/
    /*}*/
    .leftbottom, .rightbottom, .lefttop, .righttop  {
        padding: 1em 0.5em;
        margin-left: -0.5%;
    }

}

@media screen and (min-width: 751px) and (max-width: 1223px){
    .wrap {
        width: 100%;
        margin: 0 auto;
        font-size: 11px;
    }

    .header {
        display: flex;
        align-items: baseline;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: stretch;
        height: auto;
        line-height: 4em;
        padding: 0 1em;
    }

    .headfl {
        flex-basis: 10em;
        white-space: nowrap;
    }
    .bizapp, .main, .jon, .sue, .frazer {
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .flexmin {
        flex-basis: 3em;
    }
    /*.article img {*/
    /*max-width: 100%;*/
    /*}*/
    /*.righttop img {*/
    /*max-width: 100%;*/
    /*}*/
    .leftbottom, .rightbottom, .lefttop, .righttop  {
        padding: 1em 0.5em;
        margin-left: -0.5%;
    }

}
@media screen and (width: 1224px) {
    .wrap {
        width: 1224px;
        height: 1125px;
        margin: auto;
        font-size: 13px;
    }
    .header {
        position: relative;
        overflow: hidden;
        line-height: 4.46153846154em;
        height: 60px;
    }
    .article {
        width: 624px;
    }
    /*.tt {*/
    /*line-height: 27px;*/
    /*}*/

    .left, .aside {
        width: 200px;
    }
    .lefttop {
        border-bottom: 1px solid #ccd0d9;
        padding: 21px 20px 20px;
        font-size: 1em;
    }
    .apps {
        font-family: "Open Sans Condensed";
        position: relative;
        top: 2px;
    }
    .ul {
        padding: 12% 0 0 0;
    }
    .leftbottom {
        padding: 23px 21px;
    }
    .contact {
        padding: 0 0 2%;
    }
    li {
        padding-bottom: 10px;
    }
    .bizapp {
        width: 21.48%;
        padding: 0 2.05078125%;
        float: left;
    }
    .main {
        padding: 0 1.66015625% 0 0;
        width: 12.478515625%;
        float: left;
        line-height: 59px;
        position: relative;
        bottom: 1px;
    }

    .jon {
        padding: 0 7px 0 22px;
        position: relative;
        top: -0.15384615384em;
        /*width: 18.8740234375%;*/
    }
    .me {
        line-height: 61px;
    }

    .mj {
        padding-right: 6px;
    }
    .sue {
        padding: 0 29px;
    }
    .msue {
        padding-right: 6px;
    }
    .x {
        width: 1.23076923em;
        height: 1.23076923em;
        padding: 0 0 0 7px;
    }
    .plu {
        position: relative;
        bottom: 0.18181818181em;
    }
    .first_left {
        line-height: 28px;
    }
    .first_right {
        padding: 26.5px 0;
    }
    .second_bottom {
        word-spacing: 0;
    }
    .stw {
        position: relative;
        top: 2px;
    }
    .second {
        padding-bottom: 16px;
    }
    .set {
        position: relative;
        right: 1px;
        bottom: 1px;
    }
    .point {
        letter-spacing: 2px;
        margin-left: 3px;
    }
    textarea {
        height: 25px;
    }
    .po {
        right: 3px;
    }
    .jos {
        top: 1px;
        position: relative;
    }
    .bufa {
        position: relative;
        right: 2px;
        bottom: 1px;
    }
    .bula {
        position: relative;
        bottom: 3px;
    }
    ul img{
        padding-right: 10px;
    }
    /*.set {*/
    /*position: relative;*/
    /*right: 0.1em;*/
    /*bottom: -0.9em;*/
    /*}*/
    .righttop {
        padding: 10% 10% 0;
    }
    .rightbottom {
        padding: 10% 10%;
    }
    .bupl {
        /* position: relative; */
        /* left: -3px; */
        width: 70%;
    }
}


@media screen and (min-width: 1225px) and (max-width: 1623px) {
    .wrap {
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 16px;
    }
    .left, .right {
        width: 20%;
    }
    .article {
        width: 60%;
    }
    .header {
        display: flex;
        align-items: baseline;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: stretch;
        height: auto;
        line-height: 4em;
        padding: 0 1em;
    }

    .headfl {
        flex-basis: 10em;
        white-space: nowrap;
    }
    .bizapp, .main, .jon, .sue, .plu, .frazer, .st {
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .company {
        white-space: nowrap;
        padding: 0.5em 0;
    }
    .flexmin {
        flex-basis: 3em;
    }
    .com {
        padding: 1em 0;
    }
}

@media screen and (min-width: 1624px) {
    .wrap {
        width: 80%;
        height: 80%;
        margin: auto;
        font-size: 20px;
    }
    .left, .right {
        width: 20%;
    }
    .article {
        width: 60%;
    }
    .header {
        display: flex;
        align-items: baseline;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: stretch;
        height: auto;
        line-height: 4em;
        padding: 0 1em;
    }

    .headfl {
        flex-basis: 10em;
        white-space: nowrap;
    }
    .bizapp, .main, .jon, .sue, .plu, .frazer, .st {
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .company {
        white-space: nowrap;
        padding: 0.3em 0;
        /*line-height: 1em;*/
    }
    .flexmin {
        flex-basis: 3em;
    }
    .com {
        padding: 1em 0;
    }
}



/*for mobile*/
@media screen and (max-device-width: 768px)  {
    .wrap {
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
    }

    .header {
        display: flex;
        align-items: baseline;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: stretch;
        height: auto;
        line-height: 4em;
        padding: 0 1em;
    }
    .headfl {
        flex-basis: 10em;
        white-space: nowrap;
    }
    .flexmin {
        flex-basis: 3em;
    }
    .left, .right {
        width: 50%;

    }
    .article {
        width: 100%;
    }
    .bizapp, .main, .jon, .sue, .plu, .frazer, .st {
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    /*.bupl {*/
    /*position: relative;*/
    /*left: -3px*/
    /*}*/
    .lefttop , .righttop, .leftbottom ,  .rightbottom {
        padding: 1em;
        height: 23em;
    }
    .left {
        border-right: 1px solid #ccd0d9;
        box-sizing: border-box;
    }
    /*.article img {*/
    /*max-width: 100%;*/
    /*}*/
    /*.righttop img {*/
    /*max-width: 100%;*/
    /*}*/
    .ul {
        padding: 1em 0 0 0;
    }
    li {
        padding-bottom: 1em;
    }
    ul img {
        padding-right: 0.2em;
    }
    /*.set {*/
    /*bottom: 0;*/
    /*}*/
}

@media screen and (max-device-width: 375px) {
    .left, .right {
        width: 100%;
        float: none;
    }

    .lefttop, .leftbottom, .righttop, .rightbottom {
        padding: 1em;
        height: auto;
    }

    .wrap {
        background: none;
    }

    .maket {
        font-size: 2.5em;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .header {
        font-size: 0.7em;
    }
}
